/*=================================== Dashboard ======================================*/
/* Custom Styles for Navigation */
#navLinksDiv {
    background-color: #343a40;
    padding: 20px;
    border-radius: 8px;
}

#navLinksDiv a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#navLinksDiv a:hover {
    background-color: #007bff;
    color: white;
}

#navLinksDiv a#navLogout {
    color: red;
}

#navLinksDiv a#navLogout:hover {
    background-color: #dc3545;
}

/* Sidebar Layout */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    border-right: 2px solid #ccc;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
}

.card-header i {
    margin-right: 10px;
}
